version: "3"

services:
  node:
    image: node:19
    user: node
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
    ports:
      - 8081:8081
    command: sh -c "npm run lintcss && npm run start"