.grid-container {
    --grid-side-length: 24rem;

    height: var(--grid-side-length);
    width: var(--grid-side-length);
    display: grid;
    grid-gap: 0;
}

#grid-size-9 {
    --size-9: calc(var(--grid-side-length) / 9);
    --grid-font-size: calc(var(--grid-side-length) / 13);

    grid-template-columns: repeat(9, var(--size-9));
    grid-template-rows: repeat(9, var(--size-9));
    font-size: var(--grid-font-size);
}

.bordered-top {
    border-top: 1px solid;
}

.bordered-left {
    border-left: 1px solid;
}

.symbol-list {
    border-right: 1px solid;
    border-bottom: 1px solid;
    list-style: none;
}

.sl-item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sl-item:not(.locked):hover {
    cursor: pointer;
    background: var(--bg-color);
    color: var(--main-color);
}

.on-top {
    position: relative;
    z-index: var(--top-index);
    border: 1px solid var(--bg-color);
    border-top: 0;
    background-color: var(--snd-color);
}

.sl-item.locked {
    background: yellow;
}

.sl-item.selected {
    background: var(--hdr-color);
    color: var(--main-color);
    font-weight: bold;
}

#sl-input-wrapper {
    position: relative;
    z-index: var(--below-top-index);
    padding-bottom: 1px;
    height: 100%;
    background: var(--bg-color);
}

#sl-input-wrapper > input {
    all: unset;
    position: relative;
    z-index: var(--top-index);
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: var(--grid-font-size);
}

#sl-input-wrapper > input:focus {
    background-color: var(--bg-color);
    color: var(--white);
}