.game-board {
    width: 720px;
    height: 720px;
    border: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: baseline;
    font-size: 23px;
}

.game-board .row {
    width: 100%;
    border: 1px solid;
    border-bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#game-board-size-9 {
    width: 370px; /* 360 + 9 + 1 */
    height: 370px;
}

.row-size-9 {
    height: calc(360px / 9);
}

#game-board-size-16 {
    width: 557px;
    height: 557px;
}

.row-size-16 {
    height: calc(540px / 16);
}

#game-board-size-25 {
    width: 746px;
    height: 746px;
}

.row-size-25 {
    height: calc(720px / 25);
}

.value-list {
    height: 100%;
    width: 100%;
}

.value-list-item {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-list-item:hover {
    cursor: pointer;
    background: gray;
}

.vl-right {
    border-right: 1px solid;
}

#row-bot {
    width: 100%;
    height: 1px;
    background: black;
}

input {
    background: none;
    outline: none;
    text-decoration: none;
}

#value-list-input {
    text-align: center;
    font-size: 23px;
}

.sub-square-right {
    border-right: 2px solid;
}

.sub-square-bottom {
    border-bottom: 2px solid;
}

.row-size-9 .value-list .value-list-item {
    height: calc(360px / 9);
    width: calc(360px / 9);
}

.on-top {
    position: relative;
    z-index: 1;
    border: 0;
    background: linear-gradient(gray, lightgray);
}

.on-top:hover {
    background: darkblue;
    color: white;
}

.locked {
    background: yellow;
}
